// Colors
$primary-color: #439DD9;
$second-color: #5E5E5E;
$border-color: #C8650A;
$background-second-color: #FFFF;

//Menu Btn
$primary-btn-menu: #535353;
$primary-btn-menu-hover: #353434;
$font-btn-menu: #EBEBEB;